docs/automation/relance-devis.n8n.json
{
  "name": "Relance devis - Mobilier Lacroix (IA + garde-fou humain)",
  "nodes": [
    {
      "parameters": {},
      "id": "a260cefc-d3a9-47f6-9fcd-664a1c6d975c",
      "name": "Déclencheur (devis envoyé)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "client", "value": "Restaurant La Mâchonnerie", "type": "string" },
            { "id": "a2", "name": "contact", "value": "Paul Génin", "type": "string" },
            { "id": "a3", "name": "montant", "value": 8500, "type": "number" },
            { "id": "a4", "name": "heuresDepuisEnvoi", "value": 73, "type": "number" }
          ]
        }
      },
      "id": "92dac9d7-8a9a-490c-ae5b-5c52d6017030",
      "name": "Devis (exemple)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.heuresDepuisEnvoi }}",
              "rightValue": 72,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "68644d64-4080-41bb-8b83-8d867402ae9b",
      "name": "Sans réponse depuis plus de 72 h ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-small-latest\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Tu notes de 0 a 100 la probabilite de signature d'un devis B2B de mobilier sur mesure pour le CHR. Reponds uniquement par un nombre entier, sans texte.\"},\n    {\"role\": \"user\", \"content\": \"Client {{ $json.client }}, contact {{ $json.contact }}, montant {{ $json.montant }} euros, sans reponse depuis {{ $json.heuresDepuisEnvoi }} h.\"}\n  ]\n}"
      },
      "id": "fd1a7356-441d-4a76-964b-fffc3f49e344",
      "name": "Scoring IA (Mistral)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [740, 180],
      "credentials": {
        "httpBearerAuth": { "name": "Mistral API" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-large-latest\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Tu ecris pour Mobilier Lacroix, atelier lyonnais de mobilier sur mesure pour le CHR (archetypes le Createur et l'Amant). Ton chaleureux et raffine, vouvoiement, fier du savoir-faire francais, sans anglicismes ni emoji. Redige un courriel de relance court et personnalise, pret a relire.\"},\n    {\"role\": \"user\", \"content\": \"Relance le devis de {{ $('Devis (exemple)').item.json.client }} (contact {{ $('Devis (exemple)').item.json.contact }}), montant {{ $('Devis (exemple)').item.json.montant }} euros, sans reponse depuis {{ $('Devis (exemple)').item.json.heuresDepuisEnvoi }} h.\"}\n  ]\n}"
      },
      "id": "9ea6e06b-8fb6-4084-89f5-e976e1ff238b",
      "name": "Brouillon de relance (Mistral)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1000, 180],
      "credentials": {
        "httpBearerAuth": { "name": "Mistral API" }
      }
    },
    {
      "parameters": {},
      "id": "43afc910-000d-431b-b797-ab0ea52964f4",
      "name": "Validation humaine (tâche commercial)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1260, 180],
      "notes": "GARDE-FOU RGPD : la relance N'EST PAS envoyee automatiquement. En production : un node Gmail/Outlook/Slack cree une tache ou notifie le commercial, qui relit et envoie. L'IA propose, l'humain valide."
    },
    {
      "parameters": {},
      "id": "9eb3c785-5949-47ee-af98-6e05c1a685ac",
      "name": "Suivi KPI (tableau de bord)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1520, 180],
      "notes": "Log de l'evenement -> tableau de bord : taux de relance, delai de 1re relance < 72 h."
    },
    {
      "parameters": {},
      "id": "607e6f64-b3e0-482e-b0e2-f30f67650541",
      "name": "Aucune relance (déjà répondu)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [740, 420]
    },
    {
      "parameters": {
        "content": "## Etapes IA (Mistral, zone UE)\nScoring de la probabilite de signature, puis brouillon de relance ecrit dans la voix de la marque.",
        "color": 4,
        "width": 560,
        "height": 200
      },
      "id": "59adaae4-fab4-49ee-97ff-3d65669b574f",
      "name": "Sticky Note IA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [690, 130]
    },
    {
      "parameters": {
        "content": "## Garde-fou humain (RGPD)\nL'IA propose, le commercial relit et envoie. Aucune relance ne part automatiquement.",
        "color": 3,
        "width": 300,
        "height": 200
      },
      "id": "60d83f10-a3fb-4db6-b233-eab977b4da26",
      "name": "Sticky Note garde-fou",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1210, 130]
    }
  ],
  "connections": {
    "Déclencheur (devis envoyé)": { "main": [[{ "node": "Devis (exemple)", "type": "main", "index": 0 }]] },
    "Devis (exemple)": { "main": [[{ "node": "Sans réponse depuis plus de 72 h ?", "type": "main", "index": 0 }]] },
    "Sans réponse depuis plus de 72 h ?": {
      "main": [
        [{ "node": "Scoring IA (Mistral)", "type": "main", "index": 0 }],
        [{ "node": "Aucune relance (déjà répondu)", "type": "main", "index": 0 }]
      ]
    },
    "Scoring IA (Mistral)": { "main": [[{ "node": "Brouillon de relance (Mistral)", "type": "main", "index": 0 }]] },
    "Brouillon de relance (Mistral)": { "main": [[{ "node": "Validation humaine (tâche commercial)", "type": "main", "index": 0 }]] },
    "Validation humaine (tâche commercial)": { "main": [[{ "node": "Suivi KPI (tableau de bord)", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
